@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    overflow: hidden;
}

.g1 {
    font-size: 12rem;
}

.bg-img-grad {
    background-image: linear-gradient(35deg, #087d33, rgb(94, 219, 100));
}

.my_bg {
    background: rgba(0, 0, 0, 0.55);
    padding: 5px;
}

.my_bg2 {
    background: rgba(0, 0, 0, 0.879);
    padding: 5px;
}

.teptep2_ {
    animation: skeleton2 .3s ease-in-out infinite alternate;
}

@keyframes skeleton2 {
    to {
        background: rgb(28, 25, 23);
    }
    from {
        background: rgb(38, 37, 38);
    }
}